<!-- Layout - Footer //// ================================================== -->
<footer class="l-footer">
  <div class="l-footer__inner">
    <nav class="sitemap">
      <ul class="list">
        <li class="list__item"><a href="#">HOME</a></li>
        <li class="list__item"><a href="#">会社概要</a></li>
        <li class="list__item"><a href="#">プロダクツ</a></li>
        <li class="list__item"><a href="#">採用</a></li>
        <li class="list__item"><a href="#">問い合わせ</a></li>
      </ul>
      <!-- /.list -->
    </nav>
    <!-- /.sitemap -->
    <small class="copy">コピーライト</small>
    <!-- /.copy -->
  </div>
</footer>
<!-- //// Layout - Footer ================================================== -->
