<!-- Layout - Header //// ================================================== -->
<header class="l-header">
  <div class="l-header__inner">
    <h1 class="logo">LOGO</h1>
    <!-- /.logo -->
    <nav class="navigation">
      <ul class="list">
        <li class="list__item"><a href="#">HOME</a></li>
        <li class="list__item"><a href="#">会社概要</a></li>
        <li class="list__item"><a href="#">プロダクツ</a></li>
        <li class="list__item"><a href="#">採用</a></li>
        <li class="list__item"><a href="#">問い合わせ</a></li>
      </ul>
      <!-- /.list -->
    </nav>
    <!-- /.navigation -->
  </div>
</header>
<!-- //// Layout - Header ================================================== -->